.container {
  position: relative;
  z-index: 20;
}

.menu {
  border-radius: 5px;
  position: absolute;
  display: block;
  right: 0;
  top: 40px;
  transform: scale(0);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75);
  transition: transform 0.5s ease;
}

.entering {
  transform: scale(1);
  transform-origin: right top;
}
.entered {
  transform: scale(1);
}
.exiting {
  transform: scale(1);
}
.exited {
  transform: scale(0);
  transform-origin: right top;
}

.menuList {
  border-radius: 5px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  padding-inline-start: 0;
}

.menuItem {
  position: relative;
  padding: 5px 10px;
  border: 1px solid #8a8a8a;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 30;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.menuItem:first-child {
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}

.menuItem:last-child {
  border-radius: 0 0 5px 5px;
}

.menuItem:hover {
  /* background-color: #d8d7cf; */
  transition: all 0.3s ease-in-out;
}

.menuItem a {
  color: inherit;
}

.itemText {
  padding: 5px 10px 5px 15px;
  transform: translateX(30px);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

.entered .itemText {
  transform: translateX(0px);
  opacity: 1;
  transition: opacity 0.3s, transform 0.3s;
}

.exited .itemText {
  transform: translateX(40px);
  opacity: 0;
  transition: 300 ease-in-out;
}
