.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  margin-bottom: 20px;
}

.email,
.password,
.name {
  padding: 10px 10px;
  margin-bottom: 20px;
}

.loginButtonWrapper {
  margin-bottom: 20px;
}

.registerLink {
  margin-left: 5px;
  font-weight: 700;
}
