.container {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 440px;
  }
}

.inputWrapper {
  margin-bottom: 40px;
}

.hintWrapper span {
  text-align: end;
  margin-bottom: 10px;
}
