.dropDawn {
  position: relative;
}

.dropDawnMenu {
  position: absolute;
  display: block;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  right: 0;
  top: 40px;
}

.dropDawnItem {
  position: relative;
  padding: 10px 15px;
  border: 1px solid #8a8a8a;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 30;
  cursor: pointer;
  background: #f0efe9;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 1px 1px 5px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 1px 1px 5px 0px rgba(34, 60, 80, 0.2);
}

.dropDawnItem:first-child {
  border-bottom: none;
}

.dropDawnItem:first-child::before,
.dropDawnItem:first-child::after {
  display: block;
  content: '';
  position: absolute;
  right: 0px;

  border: 10px solid transparent;
}

.dropDawnItem:first-child::before {
  top: -21px;
  border-bottom: 10px solid #8a8a8a;
}

.dropDawnItem:first-child::after {
  top: -20px;
  border-bottom: 10px solid #f0efe9;
  z-index: 30;
}

.dropDawnItem:hover {
  background: #e8e2ca;
  transition: all 0.3s ease-in-out;
}

.dropDawnItem a {
  color: #333333;
}

.dropDawnItemText {
  padding: 5px 10px 5px 15px;
}

.dropDawnItemEnter {
  opacity: 0;
}
.dropDawnItemEnterActive {
  opacity: 1;
  transition: opacity 1500ms ease-in;
}
.dropDawnItemExit {
  opacity: 1;
}
.dropDawnItemExitActive {
  opacity: 0;
  transition: opacity 1500ms ease-in;
}
