.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  padding: 0 15px;
}

.modal,
.modalForTextBox {
  padding: 10px 10px;
  z-index: 30;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  transition: opacity 0.3s ease;
  opacity: 0;
  max-width: 90%;
  width: 90%;
}

.modalForTextBox {
  padding: 10px 20px;
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 50%;
  }
  .modalForTextBox {
    max-width: max-content;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 30%;
  }
  .modalForTextBox {
    max-width: max-content;
  }
}

.entering {
  opacity: 1;
}
.entered {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
